<div class="container content">
  <div class="page-header">
    <div class="container">
      <h1>Routers Simple</h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">HOME</a>
        <a [routerLink]="['/destino']"> DESTINO</a>
      </div>
    </div>
  </div>
  <div class="row">
    <h1>
      {{ title }}
    </h1>
  </div>
  <router-outlet></router-outlet>
</div>
<hr>
Fecha: {{time | async}}
